.Notifications {
    border: 2px dashed rgb(212, 76, 76);
    padding: 10px;
}

[data-notification-type="default"] {
    color: rgb(11, 11, 129);
}

[data-notification-type="urgent"],
[data-urgent] {
    color: red;
}

img {
    min-height: 2px;
}